
@{
    ViewBag.Title = "Index";
}

<br><br>
<div class="wrapper" style="text-align: center;">
    @Html.ActionLink("Search Room", "SearchRoom", "Search", new { area = "" }, new { @class = "btn btn-info ", @style = "position: absolute; top: 45%; left:38%; padding:30px 50px;" })
    @Html.ActionLink("Login As Receptionist", "Index", "SearchBooking", new { area = "" }, new { @class = "btn btn-primary ", @style = "position: absolute; top: 45%; left:52%; padding:30px;" })
</div>

<br>


